TELEGRAM_BOT_TOKEN=123456789:replace_me
TELEGRAM_CHAT_ID=123456789
AUTO_CART_ENABLED=false
AUTO_CART_MAX_PER_EVENT=1
BOT_STATE_DIR=.state
# ADMIN_CHAT_IDS=123456789,987654321
# ADMIN_CART_NOTIFY_CHAT_IDS=123456789
# ADMIN_CART_NOTIFY_WATCH=8270163449:M86:SEPSTA
# BOOTSTRAP_SUBSCRIPTIONS_JSON={"chats":{}}
